<p>Hi Resistors!</p>

<a href='https://resistancecalendar.org'>The Resistance Calendar</a> has {{upcomingEventCount}} events scheduled with {{upcomingRSVPCount}} RSVPs!
<br>
<br>
<b>{{recentlyAddedEvents.length}} new events yesterday!</b>
<br>
<table>
	<th>Date</ht><th>Name</ht><th>Location</ht><th>RSVP</ht>
	{{#each recentlyAddedEvents}}
		<tr>
			<td><a href='https://www.resistancecalendar.org/event/{{id}}'>{{name}}</a></td>
			<td style="padding-right: 5px;">{{start_date_string}}</td>
			<td>{{location.locality}}, {{location.region}}</td>
			<td>{{total_accepted}}</td>
		</tr>
	{{/each}}
</table>
<br>
<br>
<b>{{upcomingEvents.length}} events upcoming:</b>
<br>
<table>
	<th>Date</ht><th>Name</ht><th>Location</ht><th>RSVP</ht>
	{{#each upcomingEvents}}
		<tr>
			<td><a href='https://www.resistancecalendar.org/event/{{id}}'>{{name}}</a></td>
			<td style="padding-right: 5px;">{{start_date_string}}</td>
			<td>{{location.locality}}, {{location.region}}</td>
			<td>{{total_accepted}}</td>
		</tr>
	{{/each}}
</table>
<br>
<p>Happy Resisting!</p>
